/* 
  Athlos - Global Styles
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Roman;
  src: url("../public/fonts/RomanSD.ttf");
}

:root {
  --font-logo: "Roman", serif;
  --font-body: "Nunito", sans-serif;
  --font-title: "Noto Serif", serif;
  --color-primary: rgb(40, 175, 176);
  --color-primary-dark: #219292;
  --color-secondary: #ddcecd;
  --color-tertiary: #eff2f1;
  --color-gray: rgb(79, 90, 107);
  --color-gray-alpha: rgba(79, 90, 107, 0.8);
  --color-background: white; /* #fcfcfc */
  --default-border-radius: 5px;
}

/* General */
body {
  background-color: var(--color-background);
  font-family: var(--font-body);
  font-size: 16px;
  height: 200vh; /* Temporary */
}

a:link,
a:visited {
  text-decoration: none;
  transition: color 0.3s ease-out;
}

a:hover,
a:active {
  color: var(--color-primary);
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: var(--color-primary-dark);
  box-shadow: 0 1px 1px rgba(33, 146, 146, 0.08) inset,
    0 0 8px rgba(33, 146, 146, 0.7);
  outline: 0 none;
}

::selection {
  color: white;
  background-color: var(--color-primary);
}

.container {
  margin: 0 auto;
}

/* Branding */
.logo {
  font-family: var(--font-logo);
}

.logo a {
  color: black;
}

/* Buttons */
.button {
  border-radius: var(--default-border-radius);
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
  padding: 0.7em 1.2em;
  margin: 0 0.3em;
  font-weight: 700;
  letter-spacing: 0.6px;
  background-color: transparent;
}

.button:hover {
  color: white;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 3px 5px rgba(41, 41, 41, 0.3);
  color: white;
}

.button-primary:hover {
  color: white;
  background-color: var(--color-primary-dark);
}

/* Navigation */
.topnav {
  height: 4.5em;
  position: fixed;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
  display: flex;
  align-items: center;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

.topnav-overlay {
  background-color: rgba(255, 255, 255, 0.99);
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .logo {
  font-size: 1.9em;
  font-weight: 900;
}

.navigation .login {
  text-align: right;
}

.login button {
  margin: 0 0 0 0.6em;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.menu-item a {
  color: var(--color-gray);
}

.menu-item a:hover {
  color: var(--color-primary);
}

.menu-item li {
  list-style: none;
  padding: 0 3em;
  text-transform: uppercase;
}

.navigation .profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation .profile-icon {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navigation .profile-icon > span {
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 1px;
}

.navigation .profile-name {
  margin-right: 0.5em;
}

.navigation .profile-name span {
  display: block;
}

.navigation .profile-name span:first-of-type {
  font-weight: 800;
}

/* Responsive Layout */
@media screen and (min-width: 1230px) {
  .container {
    width: 1150px;
  }

  .navigation .logo {
    width: 175px;
    font-size: 1.9em;
  }

  .navigation .menu {
    width: 750px;
  }

  .navigation .login {
    width: 230px;
  }
}

@media screen and (min-width: 1630px) {
  body {
    font-size: 18px;
  }

  .container {
    width: 1500px;
  }

  .navigation .logo {
    width: 200px;
  }

  .navigation .menu {
    width: 1000px;
  }

  .navigation .login {
    width: 300px;
  }

  

  .intro img {
    max-width: 1000px !important;
  }

  .modal .name > input {
  width: 88%;
}

  .shortcut-container button {
    width: 260px !important;
  }
}

/* Animations */
.fade-in {
  animation: fade-in 3s ease forwards;
}

.slide-in-right {
  transform: translateX(100%);
  animation: slide-in 0.3s ease-out forwards;
}

.slide-in-left {
  transform: translateX(-100%);
  animation: slide-in 0.3s ease-out forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  to {
    transform: translateX(0);
  }
}

/* Accessability */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-delay: -1s !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
  }
}
