:root {
  --font-logo: "Roman", serif;
  --font-body: "Nunito", sans-serif;
  --font-title: "Noto Serif", serif;
  --color-primary: rgb(40, 175, 176);
  --color-primary-dark: rgb(33, 146, 146);
  --color-secondary: #ddcecd;
  --color-tertiary: rgb(239, 242, 241);
  --color-gray: rgb(79, 90, 107);
  --color-gray-alpha: rgba(79, 90, 107, 0.8);
  --color-background: white; /* #fcfcfc */
  --default-border-radius: 5px;
}

/* Buttons */
.button {
  border-radius: var(--default-border-radius);
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
  padding: 0.7em 1.2em;
  margin: 0 0.3em;
  font-weight: 700;
  letter-spacing: 0.6px;
  background-color: transparent;
}

.button:hover {
  color: white;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.buttonPrimary {
  height: 3em;
  width: 10em;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 3px 5px rgba(41, 41, 41, 0.3);
  color: white;
}

.buttonPrimary:hover {
  color: white;
  background-color: var(--color-primary-dark);
}

.buttonPrimary:disabled {
  background-color: var(--color-gray-alpha);
  border-color: var(--color-gray);
  cursor: not-allowed;
}

/* Modal */
.modal {
  /* padding-top: 50px; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: var(--color-gray-alpha);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: var(--color-background);
  /* margin: 5% auto 15% auto; */
  height: 95vh;
  width: 95vw;
  border-radius: var(--default-border-radius);
  position: relative;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
  overflow: hidden;
}

/* 
.image {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.modal .gradient {
  width: 100%;
  background: linear-gradient(
    0deg,
    var(--color-tertiary) 55%,
    rgba(239, 242, 241, 0) 70%
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal .title {
  font-size: 3em;
}

.modal .content {
  margin: 2em;
  position: absolute;
  top: 45%;
} */

/* .close {
  height: 1em;
  width: 1em;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 45px;
  padding: 0.1em;
  line-height: 0.7;
  text-align: center;
  color: var(--color-background);
  border-radius: var(--default-border-radius);
  transition: all 0.2s ease-in-out;
} */

.close {
  height: 70px;
  width: 70px;
  font-size: 2.5em;
  border: none;
  border-right: 1px solid var(--color-gray);
  background-color: var(--color-background);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.close:hover {
  font-size: 3em;
  background-color: var(--color-tertiary);
  color: red;
}

/* Time Slots */
.timeSlotContainer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-flow: row wrap;
  gap: 1.3em;
  margin: 2em auto;
}

.timeSlotContainer button {
  width: 180px;
  font-size: 1.3em;
  font-weight: 600;
  border: 2px solid var(--color-gray);
  border-radius: var(--default-border-radius);
  background-color: transparent;
  padding: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.timeSlotContainer button:hover {
  color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);

  background-color: var(--color-background);
  /* box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6); */
}

/* Navigation */
.navigation {
  height: 70px;
  display: flex;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

/* Status Bar */
.statusBar {
  width: 100%;
  display: flex;
  /* flex: 1 1 0; */
  flex-grow: 1;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
}

.statusSection {
  /* height: 70px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-right: 1px solid var(--color-gray);
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.statusSection:last-of-type {
  border: none;
}

.statusSection:hover {
  background-color: var(--color-tertiary);
}

.statusSection:disabled {
  color: black;
  cursor: not-allowed;
}

.sectionText {
  width: 105px;
}

.sectionTitle {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--color-gray);
  text-align: left;
  text-transform: uppercase;
}

.subTotal {
  background-color: var(--color-primary);
}

.subTotal:hover {
  background-color: var(--color-primary);
}

.subTotal:disabled {
  background-color: var(--color-gray);
}

.subTotal:disabled:hover {
  background-color: var(--color-gray);
}


.subTotal .sectionTitle {
  font-size: 1.9em;
  font-weight: 500;
  text-align: center;
  color: white;
}

.subTotal span {
  font-size: 0.5em;
  font-weight: 400;
  display: block;
  margin-top: 3px;
}

.subTotal .sectionTitle div::before {
  content: "$";
}

.sectionIcon {
  color: var(--color-gray);
  font-size: 2em;
  margin-right: 8px;
}

.sectionSelection {
  text-align: left;
  font-weight: 800;
}

/* .statusIndicator::after {
  content: "";
  height: 4px;
  width: 325px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(33, 146, 146, 0.7);
} */

.container {
  padding: 4em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 4em;
  text-align: center;
  /* margin-top: 1em; */
}

/* Gear Selection */
.gearContainer {
  margin: 2em auto;
}